// * ------------------------------------------------------------
// * THEME | PARTIAL | p-box
// * ------------------------------------------------------------


// -------------------------------------
// Base
// -------------------------------------

    .b-box_base {
        background: $primary_color;
        color: $font_color-primary;
    }

// -------------------------------------
// Sidebar
// -------------------------------------

    .b-box_sidebar {
        background: $secondary_color;
        color: $font_color-secondary;
    }

// -------------------------------------
// Sidebar - Inverse
// -------------------------------------

    .b-box_sidebar-inverse {
        @extend .b-box_sidebar !optional;
    }