// * ------------------------------------------------------------
// * BASE | Typography
// *
// * Default typography settings
// * ------------------------------------------------------------


// -------------------------------------
// Mixins
// -------------------------------------

    // Headers
    // ## See notes in Aspire theme about creating something
    // ## better for this mixin -JB (3/18/13)

    @mixin set-header($header-values) {
        font-size: nth($header-values, 1);
        margin-bottom: nth($header-values, 2);
    }

// -------------------------------------
// Variables
// -------------------------------------

    // Baseline

    $font-size   : 16px !default;

    $baseline    : 1.5 !default;
    $baseline-em : ($baseline * 1em) !default;
    $baseline-px : ($font-size * $baseline) !default;

    // Colors

    $color           : #525252 !default;
    $color-secondary : #111 !default;
    $color-tertiary  : #fff !default;

    $link-color: #111 !default;

    $header-color : #222 !default;

    // Sizes

    // ## Surely a more elegant way to do this, not the math specifically, but how the mixin is
    // ## essentially manual input, current version just serves as a placeholder for my OCD
    // ## when it comes to setting values for type -JB (3/18/13)

    $header_h1 : (2.074em) (#{((48 - 33.178)/33.178)}em); // 33.178px
    $header_h2 : (1.728em) (#{((48 - 27.648)/27.648)}em); // 27.648px
    $header_h3 : (1.44em)  (#{((24 - 23.04 + 24)/23.04)}em); // 23.04px
    $header_h4 : (1.2em)   (#{((24 - 19.2 + 24)/19.2)}em); // 19.2px
    $header_h5 : (1em)     (1.5em); // 16px
    $header_h6 : (0.833em) (#{((24 - 13.333)/13.333)}em); // 13.333px

// -------------------------------------
// Base
// -------------------------------------

    body {
        color: $color;
        font: #{$font-size}/#{$baseline} "source-sans-pro-1", "source-sans-pro-2", "freight-sans-pro-1", "freight-sans-pro-2", helvetica, arial, sans-serif;
    }

// -------------------------------------
// Links
// -------------------------------------

    a,
    a:visited,
    a:active { color: $link-color; font-weight: 600; }

// -------------------------------------
// Headers
// -------------------------------------

    h1, h2, h3, h4, h5, h6 { 
        color: $header-color;
        font-weight: 600;
        line-height: 1;
        margin: 0;
    }

    h1 { @include set-header($header_h1); }
    h2 { @include set-header($header_h2); }
    h3 { @include set-header($header_h3); }
    h4 { @include set-header($header_h4); }
    h5 { @include set-header($header_h5); line-height: 1.5; }
    h6 { @include set-header($header_h6); }

// -------------------------------------
// Box Type
// -------------------------------------

    p { margin: 0 0 1.5em; }

    ul { margin: 0; padding: 0; }

// -------------------------------------
// Inline
// -------------------------------------

    img { max-width: 100%; vertical-align: middle; }