// -------------------------------------
// Theme
// -------------------------------------

@import "lib/theme/aspire/vars-aspire";

// -------------------------------------
// Base
// -------------------------------------

@import "lib/base/normalize";
@import "lib/base/typography";

// ** Need to do -JB (1/29/13)

// Typography
// Helpers
// Mixins
// Grid
// Forms
// Tables

// -------------------------------------
// Block
// -------------------------------------

@import "lib/block/b-box";
@import "lib/block/b-button";
@import "lib/block/b-dropdown";
@import "lib/block/b-grid";
@import "lib/block/b-list";
@import "lib/block/b-masthead";
@import "lib/block/b-media";

// -------------------------------------
// Utility
// -------------------------------------

@import "lib/utility/u-clearfix";


// Debugging

* { margin: 0; }

// b-temp for debuggin

.b-temp {
    @extend %u-clearfix;

    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;

    .b-temp-item {
        display: inline-block;
    }
}