// * ------------------------------------------------------------
// * THEME > webApp | LAYOUT | Standard
// * ------------------------------------------------------------


// ## Grid is only for development purposes;
// ## not final product -JB (4/17/13)

// -------------------------------------
// Default
// -------------------------------------

    .l-standard {
        position: fixed;
        top: 0; right: 0; bottom: 0; left: 0;
    }

// -------------------------------------
// Primary
// -------------------------------------

    .l-standard_primary {
        @extend %l-standard_col-inverse;

        height: 100%;
        overflow: scroll;
        padding: .75rem;
        width: percentage(10/16); // ** DEV **
    }

// -------------------------------------
// Secondary
// -------------------------------------

    .l-standard_secondary {
        @extend %l-standard_col-inverse;

        height: 100%;
        overflow: scroll;
        width: percentage(4/16); // ** DEV **
    }

// -------------------------------------
// Tertiary
// -------------------------------------

    .l-standard_tertiary {
        @extend %l-standard_col-inverse;

        height: 100%;
        overflow: scroll;
        padding: .75rem;
        width: percentage(2/16); // ** DEV **
    }

// -------------------------------------
// Header
// -------------------------------------

    .l-standard_header {
        @extend %l-standard_row;

        background: #ccc; // ** DEV **
        border-bottom: $component-borderSize $component-borderStyle $component-borderColor; // ** DEV **
        
        height: 3rem; // ** DEV **
    }