// * ------------------------------------------------------------
// * THEME | Aspire | CORE
// *
// * Aspire theme core file
// * ------------------------------------------------------------


// -------------------------------------
// Colors
// -------------------------------------

    $canvas-color    : #fff !default; // Site's background color
    $primary-color   : #fff !default;
    $secondary-color : #fff !default;
    $tertiary-color  : #777 !default;

// -------------------------------------
// Partials
// -------------------------------------

    // @import Partisls here... if any

// -------------------------------------
// Layouts
// -------------------------------------

    // @import Layouts here... if any