// * ------------------------------------------------------------
// * THEME | ASSET | Palette
// *
// * Global palette settings
// * ------------------------------------------------------------


// -------------------------------------
// Mixins
// -------------------------------------

    // Mixins go here...

// -------------------------------------
// Global Palette
// -------------------------------------

    // Colors

    $canvas_color     : null !default;
    $primary_color    : #eee !default;
    $secondary_color  : #111 !default;
    $tertiary_color   : null !default;
    $quaternary_color : null !default;
    $quinary_color    : null !default;

    // Typography

    $font_color            : null !default;
    $font_color-primary    : #111 !default;
    $font_color-secondary  : #eee !default;
    $font_color-tertiary   : null !default;
    $font_color-quaternary : null !default;
    $font_color-quinary    : null !default;