// * ------------------------------------------------------------
// * THEME > webApp | ASSET | Structure
// *
// * Global structure values
// * ------------------------------------------------------------


// -------------------------------------
// Global Structure
// -------------------------------------

    $structure-margin  : null !default;
    $structure-padding : null !default;
    $structure-spacing : null !default;

// -------------------------------------
// Components
//
// ## Containers
// -------------------------------------

    $component-margin  : 0 0 1.5rem !default;
    $component-padding : .75em !default;
    $component-spacing : $structure-spacing !default;

// -------------------------------------
// Elements
//
// ## Children of containers
// -------------------------------------

    $element-margin  : $structure-margin !default;
    $element-padding : $structure-padding !default;
    $element-spacing : $structure-spacing !default;