// * ------------------------------------------------------------
// * PARTIALS | p-box
// *
// * The standard, go-to module for a generic container. Does not
// * serve a semantic role.
// * ------------------------------------------------------------


// -------------------------------------
// Theming | Presentation
// -------------------------------------
    
    // Backgrounds

    $p-box_bgColor : $component_bgColor !default;
    $p-box_bgImage : $component_bgImage !default;

    // Borders

    $p-box_borderSize   : $component_borderSize !default;
    $p-box_borderStyle  : $component_borderStyle !default;
    $p-box_borderColor  : $component_borderColor !default;
    $p-box_borderRadius : $component_borderRadius !default;

    // Headers

    $p-box_headerColor : $component_headerColor !default;

    // Links

    $p-box_linkColor : $component_linkColor !default;

    // Text

    $p-box_color : $component_color !default;

// -------------------------------------
// Theming | Structure
// -------------------------------------

    $p-box_margin  : $component-margin !default;
    $p-box_padding : $component-padding !default;

// -------------------------------------
// Base
//
// ## Foundational styles
// -------------------------------------

    %p-box_base {
        @extend %u-clearfix;

        background: $p-box_bgColor $p-box_bgImage;
        border: $p-box_borderSize $p-box_borderStyle $p-box_borderColor;
        border-radius: $p-box_borderRadius;
        color: $p-box_color;

        margin: $p-box_margin;
        padding: $p-box_padding;

        > :last-child { margin-bottom: 0; } // Remove bottom margin if child is the last/only child -JB (2/15/13)
    
        h1, h2, h3, h4, h5, h6 {
            color: $p-box_headerColor;
        }

        a {
            color: $p-box_linkColor;
        }
    }

// -------------------------------------
// Stack
//
// ## Stacked containers
// -------------------------------------

    %p-box_stack {
        @extend %p-box_base;

        margin: 0;

        & + & { border-top-width: 0; }
    }