// * ------------------------------------------------------------
// * BLOCK | Box
// *
// * The standard, go-to module for containers.
// * ------------------------------------------------------------


// -------------------------------------
// Theming | Presentation
// -------------------------------------
    
    // Backgrounds

    $box_bgColor : $component_bgColor !default;
    $box_bgImage : $component_bgImage !default;

    // Borders

    $box_borderSize   : $component_borderSize !default;
    $box_borderStyle  : $component_borderStyle !default;
    $box_borderColor  : $component_borderColor !default;
    $box_borderRadius : $component_borderRadius !default;

    // Headers

    $box_headerColor : $component_headerColor !default;

    // Links

    $box_linkColor : $component_linkColor !default;

    // Text

    $box_color : $component_color !default;

// -------------------------------------
// Theming | Structure
// -------------------------------------

    $box_margin  : $component-margin !default;
    $box_padding : $component-padding !default;

// -------------------------------------
// Base
//
// ## Foundational styles
// -------------------------------------

    %b-box_base {
        @extend %u-clearfix;

        background: $box_bgColor $box_bgImage;
        border: $box_borderSize $box_borderStyle $box_borderColor;
        border-radius: $box_borderRadius;
        color: $box_color;

        margin-bottom: $box_margin;
        padding: $box_padding;

        > :last-child { margin-bottom: 0; } // Remove bottom margin if child is the last/only child -JB (2/15/13)
    
        h1, h2, h3, h4, h5, h6 {
            color: $box_headerColor;
        }

        a {
            color: $box_linkColor;
        }
    }

// -------------------------------------
// Header
//
// ## Heading container, not to be used
// ## as a <h> replacement
// -------------------------------------

    @mixin b-box_header {
        @extend %b-box_base;
    }

// -------------------------------------
// Sidebar
//
// ## Auxillary container, defaults to
// ## the left
// -------------------------------------

    @mixin b-box_sidebar {
        @extend %b-box_base;

        float: left;
    }

// -------------------------------------
// Sidebar - Inverse
//
// ## Auxillary container, default to
// ## the right
// -------------------------------------

    @mixin b-box_sidebar-inverse {
        @extend %b-box_base;

        float: right;
    }

// -------------------------------------
// Footer
//
// ## Footer container
// -------------------------------------

    @mixin b-box_footer {
        @extend %b-box_base;
    }