// * ------------------------------------------------------------
// * PARTIAL | p-list
// *
// * List variations
// * ------------------------------------------------------------


// -------------------------------------
// Base
// -------------------------------------

    %b-list_base {
        @extend %u-clearfix;

        list-style: none;

        margin-bottom: 1.5rem;
        padding: 0;
    }

// -------------------------------------
// Float
// -------------------------------------

    %b-list_float {
        @extend %b-list_base;

        // Item

        .b-list-item { float: left; }
        .b-list-item + .b-list-item { margin-left: 1rem; }
    }

// -------------------------------------
// Inverse
// -------------------------------------

    %b-list_inverse {
        @extend %b-list_base;

        text-align: right;

        // Item

        .b-list-item { display: inline-block; }
        .b-list-item + .b-list-item { margin-left: 1rem; }
    }

// -------------------------------------
// Center
// -------------------------------------

    %b-list_center {
        @extend %b-list_base;

        text-align: center;

        // Item

        .b-list-item { display: inline-block; }
        .b-list-item + .b-list-item { margin-left: 1rem; }
    }

// -------------------------------------
// Bullet
// -------------------------------------

    %p-list_bullet {
        list-style: outside disc;

        margin: $component-margin;
        padding-left: 1.5rem;

        & & { margin: 0; }
    }